name: Go Test

on:
    pull_request:
        branches: [ "main" ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:

        - name: Checkout repository
          uses: actions/checkout@v6

        - name: Set up Go
          uses: actions/setup-go@v6
          with:
            go-version: 1.22

        - name: Build
          run: go build -v ./...

        - name: Test
          run: go test -v ./...